.container{
    margin: 10px 10px;
    padding: 20px 20px;
    border: 1px solid white;
    line-height: 35px;
}
.container h1{
    color: palegreen;
    padding-bottom: 30px;
}
.list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.list label{
    font-size: 20px;
}
.total{
    background-color: palegreen;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    color: black;

}
.deletebtn{
    border: none;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.75rem 3.5rem;
    background-color: rgb(109, 109, 221);
}